{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Completed{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/password-reset-complete.css' %}">{% endblock %}

{% block content %}
    <div class="title-box">
        <h1 class="page-title">Password Reset Completed</h1>
    </div>

    <div class="reset-password-form-complete">
        <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a></p>
    </div>
{% endblock %}