{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/password-reset-confirm.css' %}">{% endblock %}

{% block content %}
    <div class="title-box">
        <h1 class="page-title">Reset your password</h1>
    </div>

    <form method="POST" class="reset-password-form">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-field">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <ul class="error-list">
                {% for error in field.errors %}
                  <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="submit-btn">Reset Password</button>
    </form>
{% endblock %}