{% extends "base.html" %}
{% load static %}

{% block title %}Forgot password{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/password-reset.css' %}">{% endblock %}

{% block content %}
    <div class="title-box">
        <h1 class="page-title">Find your account</h1>
    </div>

    <form method="POST" class="reset-password-form">
        {% csrf_token %}
        <div class="form-field">
            <label class="form-label">Please enter your email to search for your account.</label>
            <input type="email" name="email">
        </div>
        <p>Go back to <a href="{% url 'welcome' %}">welcome page</a>.</p>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
{% endblock %}