{% extends "base.html" %}
{% load static %}

{% block title %}Create Post{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/create-post.css' %}">{% endblock %}

{% block content %}
    <div class="title-box">
        <h1 class="page-title">{% if type == 'create' %}Create {% else %}Edit {% endif %}Post</h1>
    </div>

  <form method="POST" class="create-post-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="submit-btn">{% if type == 'create' %}Publish{% else %}Submit Changes{% endif %}</button>
</form>
{% endblock %}