{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title|default:"Home Page" }}{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/home.css' %}">{% endblock %}

{% block content %}
  <div class="title-box">
      <h1 class="page-title">
        {{ page_title|default:"Home Page" }}
      </h1>
  </div>

  {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
        {% endfor %}
    </div>
  {% endif %}

  <div class="content-container">
      {% if posts %}
          <ul class="post-list">
            {% for post in posts %}
                <li class="post-item">
                    <div class="post-header">
                        <p class="post-author">
                            <img class="profile-image" src="{{ post.author.image.url }}">
                            <a href="{% url 'check_user_profile' post.author.username %}">{{ post.author.username }}</a>
                        </p>
                        <p class="post-date">{{ post.updated_at }}</p>
                    </div>
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-content">{{ post.content }}</p>
                    <div class="post-footer">
                        <div class="post-tags">
                            {% for tag in post.tags.all %}
                              <a href="{% url 'sort_by_tag' tag.name %}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        {% if user.id == post.author.id %}
                            <div class="post-edit">
                                <a href="{% url 'edit_post' post.id %}">
                                    <button class="button-edit" type="button"><img src="{% static 'core/images/edit.png' %}"></button>
                                </a>

                                <button class="button-delete" id="openPopup{{ post.id }}"><img src="{% static 'core/images/bin.png' %}"></button>

                                <div id="popupContainer{{ post.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="closePopup" id="closePopup{{ post.id }}">&times;</span>
                                        <h2>Confirm Deletion</h2>
                                        <p>Are you sure you want to permanently remove this post?</p>
                                        <form action="{% url 'delete_post' post.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="button-confirm-delete" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="post-comments">
                        <h5>Comments</h5>
                        <ul class="comment-list">
                            {% for comment in post.comments.all %}
                                <li class="comment-item">
                                    <img class="profile-image" src="{{ comment.commenter.image.url }}">
                                    <a href="{% url 'check_user_profile' comment.commenter.username %}">{{ comment.commenter.username }}</a>: {{ comment.content }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-field">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {{ form.content }}
                            <button type="submit" class="submit-btn">Comment</button>
                        </div>
                    </form>
                </li>
            {% endfor %}
          </ul>
      {% else %}
        <h2>No posts yet</h2>
      {% endif %}
      <!-- Tags Section on the right side -->
      <div class="tags-section">
          <h3>Available Tags</h3>
          <ul class="tags-list">
              {% for tag in tags %}
                <li class="tag-item">
                    <form action="{% url 'sort_by_tag' tag.name %}">
                        <button type="submit" class="tag-button">{{ tag.name }}</button>
                    </form>
                </li>
              {% endfor %}
          </ul>
      </div>
  </div>


<script src="{% static 'core/js/delete-post.js' %}"></script>

{% endblock %}
