{% extends "base.html" %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/movies.css' %}">{% endblock %}

{% block content %}
  <div class="title-box">
      <h1 class="page-title">Movie List</h1>
  </div>

  {% include "core/messages-component.html" %}

    <!-- Search for a Movie -->
    <div class="movie-search-online">
        <a href="{% url 'search_movie_online' %}" class="movie-search-online-button">Search for a Movie online</a>
    </div>

    <!-- Movies List -->
    <div class="table-container">
        <table>
            <tr>
                <th>Poster</th>
                <th>
                    <div class="th-flex">
                        <span>Title</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=title&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=title&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-flex">
                        <span>Year</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=release_date&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=release_date&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>Overview</th>
                <th>
                    <div class="th-flex">
                        <span>Average IMDB Rating</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=vote_average&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=vote_average&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-flex">
                        <span>Average ChitChat Rating</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=average_rating&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=average_rating&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-flex">
                        <span>Added at</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=added_at&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=added_at&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-flex">
                        <span>Added by</span>
                        <div class="dropdown">
                            <button class="dropbtn sort-button">
                                <img src="{% static 'core/images/down-arrow.png'%}">
                            </button>
                            <div class="dropdown-content">
                              <a href="{% url 'movies' %}?sort_by=added_by&order=asc">Ascending</a>
                              <a href="{% url 'movies' %}?sort_by=added_by&order=desc">Descending</a>
                            </div>
                        </div>
                    </div>
                </th>
                <th>Rate</th>
            </tr>


            {% for movie in movies %}
            <tr>
                <td>
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" style="width: 100px; border-radius: 5px;">
                </td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.release_date|date:"Y" }}</td>
                <td>{{ movie.overview }}</td>
                <td>{{ movie.vote_average|floatformat:1 }}</td>
                <td>{{ movie.average_rating|floatformat:1 }}</td>
                <td>{{ movie.added_at }}</td>
                <td>{{ movie.added_by.username }}</td>
                <td>
                    {% if movie.current_user_rating %}
                        <p>Your rating: {{ movie.current_user_rating }}</p>
                    {% endif %}
                        <form method="POST" action="{% url 'movies' %}">
                            {% csrf_token %}
                            <div class="range-wrapper">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <output id="ratingOutput">5</output>
                                <input type="range" name="rating" min="0" max="10" step="1" value="5" oninput="ratingOutput.value = this.value">
                            </div>
                            {% if movie.current_user_rating %}
                                <button>Update rating</button>
                            {% else %}
                                <button>Rate</button>
                            {% endif %}
                        </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>



{% endblock %}

