{% extends "base.html" %}
{% load static %}

{% block title %}Social Media{% endblock %}

{% block css_files %}<link rel="stylesheet" href="{% static 'core/welcome.css' %}">{% endblock %}

{% block content %}
  <div class="welcome-container">
      <div class="content-box">
        <img src="{% static 'core/images/social-media-welcome.png' %}" alt="Welcome Image" class="welcome-image">

        <div class="text-box">
          <h1>Welcome to ChitChat</h1>
          <p>
            This is a social media platform. In the main <strong>ChitChat</strong> tab you can share your thoughts,
            comment on and like other's posts, explore user profiles, sort posts by tags and search by author or content.
            There is an activity feed section to keep you updated for the latest comments. In the top-right corner of the
            navigation bar you can visit your own profile and the settings tab, where you can update your username or
            your password. We have recently introduced the <strong>Movies</strong> tab, where users can search for films
            via the TMDB API, rate them and add them to the shared movies list. Each movie entry includes detailed information.
            Other users can view, rate and update their ratings for any added movie.
          </p>
        </div>

        {% if user.is_anonymous %}
          <div class="button-container">
            <a href="{% url 'login' %}" class="button">Log In</a>
            <a href="{% url 'signup' %}" class="button">Sign Up</a>
          </div>
        {% endif %}
      </div>
  </div>
{% endblock %}
