.movie-search,
.movie-search-online {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.movie-search-online-button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.movie-search-online-button:hover {
    background-color: #0056b3;
}

table {
    margin: 2rem auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 2000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.th-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between 'Year' and button */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.range-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.range-wrapper output {
    font-weight: bold;
    margin-bottom: 5px;
}

.sort-button {
  color: #808080;
  text-decoration: none;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem; /* Increased text size */
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sort-button:hover,
a:hover {
  text-decoration: underline;
}

.sort-button img {
    width: 12px;       /* Set desired width */
    height: 12px;      /* Set desired height */
    object-fit: contain;  /* Keep aspect ratio if image is not square */
}
